.nav-icon:after, .nav-icon:before, .nav-icon div {
    background-color: white;
    transition: transform .2s ease-in-out, color 0s;
}

nav .icons i {
    color: white;
}

header .menu .s-round-box .round {
    display: none;
}