section.top {
    height: 100vh;
    background-image: url("../../assets/images/madrid/top_image.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;

    display: flex;
    flex-direction: column;
}

section.top header {
    flex: 0;
}

section.top .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.top p.title {
    font-size: 3em;
    font-weight: 700;
    color: white;
}

section.top p.desc {
    font-size: 1.2em;
    font-weight: 400;
    color: white;
}

section.top .sep {
    position: relative;
}

section.top .sep .top {
    height: 130px;
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-color: #3B2A38;
}

section.top .sep .bottom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 115px;
    background-color: #3B2A38;
    clip-path: polygon(50% 57%, 0 0, 100% 0);
}